h1.container{

   background-color:#e8d6cf;
    margin-top: 0px;
    padding-top: 5px;
}

#logoImg{
    width: 200px;
}

div.page-header{
    margin-top: 0px;
    background-color: #e8d6cf;
    padding-top: 3px;
    margin-bottom: 0px;
}

nav#navvy.navbar-static-top{
    margin-top: 0px;
    margin-bottom: 0px;
    /*color: #FFF6F0;*/
    background-color: #6a1525;
}

#navvy a{
    color: #fff6f0;
}

#navvy a:hover{
    background-color: none;
}

button.navbar-toggle{
    border:1px solid #fff6f0;

}

span.icon-bar{
    border:1px solid #fff6f0;
}

/*Trailer*/

.mainSec{
    background-image: url('../Images/junkyard.jpg');
    margin-top: 0px;
    background-size: cover;
}

h1.container#trailer{
    text-align: right;
    background-color: rgbA(232,214,207,0.0);
}

body{
    padding-top:0px;
    background-color:#fff6f0;
}

/*Preview Section*/

.previewSec{
    margin:auto;
}